/* You can add global styles to this file, and also import other style files */
@import "./custom-theme.scss";
:root {
  --primary-white: #ffffff;
  --primary-black: #242521;

  --btn-primary-t-active: var(--primary-white);
  --btn-primary-t-disabled: var(--gray-600);
  --btn-tertiary-t-disabled: var(--gray-200);

  --btn-primary-bg-active: var(--green-400);
  --btn-primary-bg-hover: var(--green-300);
  --btn-primary-bg-disabled: var(--gray-200);
  --btn-primary-bg-pressed: var(--green-800);

  --btn-tertiary-bg-hover: var(--gray-200);
  --btn-tertiary-bg-pressed: var(--gray-300);

  --link-t-active: var(--green-400);

  --icon-white: --primary-white;
  --icon-black: --primary-black;
  --icon-gray: --gray-600;
  --spc-xs-1: 2px;
  --spc-xs-2: 4px;
  --spc-xs-3: 8px;
  --spc-xs-4: 12px;
  --spc-s-1: 16px;
  --spc-s-2: 24px;
  --spc-s-3: 32px;
  --spc-s-4: 48px;
  --spc-m-1: 56px;
  --spc-m-2: 64px;
  --radius-xs-1: 2px;
  --radius-xs-2: 4px;
  --radius-xs-3: 8px;
  --radius-xs-4: 12px;
  --radius-s-1: 16px;
  --radius-s-2: 24px;
  --radius-s-3: 32px;
  --radius-s-4: 48px;
  --radius-m-1: 56px;
  --radius-m-2: 64px;

  --gray-50: #f9f9fa;
  --gray-100: #f2f2f4;
  --gray-200: #d9dadd;
  --gray-300: #b3b5b8;
  --gray-400: #97999b;
  --gray-500: #7d7f82;
  --gray-600: #727476;
  --gray-700: #595a5c;
  --gray-800: #454648;
  --gray-900: #353537;
  --yellow-50: #fffbe6;
  --yellow-100: #fef4bf;
  --yellow-200: #feed95;
  --yellow-300: #fee66b;
  --yellow-400: #fde04b;
  --yellow-500: #fddb2b;
  --yellow-600: #fdd726;
  --yellow-700: #fcd220;
  --yellow-800: #fccd1a;
  --yellow-900: #977f02;
  --green-50: #e0f8e8;
  --green-100: #b3efc5;
  --green-200: #80e49e;
  --green-300: #4dd977;
  --green-400: #26d059;
  --green-500: #00c83c;
  --green-600: #00c236;
  --green-700: #00bb2e;
  --green-800: #00b427;
  --green-900: #00a71a;
  --blue-50: #eaf8fc;
  --blue-100: #cbeff8;
  --blue-200: #a8e4f3;
  --blue-300: #85d9ee;
  --blue-400: #6ad0eb;
  --blue-500: #50c8e7;
  --blue-600: #49c2e4;
  --blue-700: #40bbe0;
  --blue-800: #37b4dd;
  --blue-900: #27a7d7;
  --indigo-50: #f2ecf9;
  --indigo-100: #ded1f0;
  --indigo-200: #c8b2e7;
  --indigo-300: #b293dd;
  --indigo-400: #a27bd5;
  --indigo-500: #9164ce;
  --indigo-600: #895cc9;
  --indigo-700: #7e52c2;
  --indigo-800: #7448bc;
  --indigo-900: #6236b0;
  --orange-50: #ffeee7;
  --orange-100: #ffd6c2;
  --orange-200: #ffba99;
  --orange-300: #ff9e70;
  --orange-400: #ff8a52;
  --orange-500: #ff7533;
  --orange-600: #ff6d2e;
  --orange-700: #ff6227;
  --orange-800: #ff5820;
  --orange-900: #ff4514;
  --rose-50: #fce9f1;
  --rose-100: #f8c9dc;
  --rose-200: #f3a5c4;
  --rose-300: #ee81ac;
  --rose-400: #eb669b;
  --rose-500: #e74b89;
  --rose-600: #e44481;
  --rose-700: #e03b76;
  --rose-800: #dd336c;
  --rose-900: #d72359;
  --red-50: #fce1e1;
  --red-100: #f6b3b3;
  --red-200: #f18180;
  --red-300: #eb4e4d;
  --red-400: #e62827;
  --red-500: #e20201;
  --red-600: #df0201;
  --red-700: #da0101;
  --red-800: #d60101;
  --red-900: #cf0100;
}
html * {
  font-family: roboto;
}

body,
div,
p,
ul,
li,
table,
tr,
td,
th,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1 {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
p {
  font-size: 14px;
}
.btn {
  font-weight: 500 !important;
  border-radius: var(--radius-s-4) !important;
}
.btn-sm {
  padding: var(--spc-xs-4) var(--spc-s-2) !important;
  gap: var(--spc-xs-4, 8px) !important;
  font-size: 1rem !important;
}
.btn-md {
  padding: var(--spc-s-1) var(--spc-s-3) !important;
  gap: var(--spc-xs-4, 8px) !important;
  font-size: 1.125rem !important;
}
.btn-lg {
  padding: var(--spc-s-2) var(--spc-s-4) !important;
  gap: var(--spc-xs-4) !important;
  font-size: 1.25rem !important;
}

.btn-primary {
  color: var(--primary-white) !important;
  &:hover {
    background-color: var(--btn-primary-bg-hover) !important;
  }
  &:active {
    background-color: var(--btn-primary-bg-pressed) !important;
  }
  &:disabled {
    background-color: var(--btn-primary-bg-disabled) !important;
    color: var(--btn-primary-t-disabled) !important;
  }
}
.link {
  color: var(--link-t-active);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
